{{if exists "/config/TraefikConfigVersion" }}
# This is configuration version {{ getv "/config/TraefikConfigVersion" }}
{{end}}

defaultEntryPoints = ["http","https"]
checkNewVersion = false

{{ $debug := ( getv "/config/Debug" "false" ) }}
{{ if ne $debug "false" }}
logLevel = "DEBUG"
acmeLogging = true
{{ else }}
logLevel = "INFO"
acmeLogging = false
{{ end }}

MaxIdleConnsPerHost = 1000

[traefiklog]
  filepath = "/var/log/traefik_error.log"
  format   = "json"

[accessLog]
  filePath = "/var/log/traefik.log"
  format = "json"

[entryPoints]
  [entryPoints.traefik]
    address = ":9109"
  [entryPoints.http]
    address = ":80"
     [entryPoints.http.proxyProtocol]
       trustedIPs = ["127.0.0.1/32", "10.0.0.0/8", "172.16.0.0/12", "192.168.0.0/16"]
     [entryPoints.http.redirect]
       entryPoint = "https"
  [entryPoints.https]
    address = ":443"
    [entryPoints.https.tls]
      MinVersion = "VersionTLS12"
    [entryPoints.https.proxyProtocol]
      trustedIPs = ["127.0.0.1/32", "10.0.0.0/8", "172.16.0.0/12", "192.168.0.0/16"]
    [entryPoints.https.forwardedHeaders]
      trustedIPs = ["127.0.0.1/32", "10.0.0.0/8", "172.16.0.0/12", "192.168.0.0/16"]

[ping]
[api]
  [api.statistics]
[metrics]
  [metrics.prometheus]

[consul]
endpoint = "127.0.0.1:8500"
watch = true
prefix = "{{ getv "/config/ServiceName" }}/{{ getv "/config/EnvironmentName" }}/config"

{{ $challenge := ( getv "/config/ACME/Challenge" "http-01" ) }}
{{ if eq $challenge "http-01" }}
# Use HTTP-01 challenges
[acme.httpChallenge]
  entryPoint = "http"
{{ else }}
# Use DNS-01 challenges
[acme.dnsChallenge]
  provider = "route53"
  delayBeforeCheck = 0
{{ end }}

[acme]
# Handle when this isn't set
email="{{ getv "/config/Email/Destination" }}"
storage = "{{ getv "/config/ServiceName" }}/{{ getv "/config/EnvironmentName" }}/acme"
entryPoint = "https"

# Doesn't fallback to https:// checks, bummer
#dnsProvider = "route53"

# Only set CA server in stage where this consul key exists
{{if exists "/config/LetsEncrypt/CAServer" }}
caServer = "{{ getv "/config/LetsEncrypt/CAServer" }}"
{{end}}

acmeLogging = {{ getv "/config/ACME/Logging" "true" }}
onDemand = {{ getv "/config/ACME/onDemand" "false" }}
onHostRule = {{ getv "/config/ACME/onHostRule" "false" }}

[file]

[backends]
  [backends.backend1]
    [backends.backend1.servers.server1]
    # Send to Varnish
    url = "http://127.0.0.1:82"

[frontends]
  [frontends.frontend1]
  backend = "backend1"
  passHostHeader = true
  entryPoints = [ "http", "https" ]

# Static Sites
{{ $env:=getv "/config/EnvironmentName" }}
{{ if eq $env "prod" }}

[[acme.domains]]
main = "dynamicua-origin.mozilla.org"

[[acme.domains]]
main = "start.mozilla.org"

[[acme.domains]]
main = "www.ccadb.org"
sans = [
  "ccadb.org"
]

[[acme.domains]]
main = "iot.mozilla.org"

[[acme.domains]]
main = "design.firefox.com"

[[acme.domains]]
main = "tlscanary.mozilla.org"
sans = [
  "tlscanary-haul.mozilla.org"
]

[[acme.domains]]
main = "static.mozilla.com"
sans = [
  "static-haul.mozilla.com"
]

[[acme.domains]]
main = "website-archive.mozilla.org"
sans = [
  "website-archive-haul.mozilla.org"
]

[[acme.domains]]
main = "www-archive.mozilla.org"
sans = [
  "www-archive-haul.mozilla.org"
]

[[acme.domains]]
main = "planet.mozilla.org"
sans = [
  "planet-haul.mozilla.org"
]

[[acme.domains]]
main = "krakenbenchmark.mozilla.org"

[[acme.domains]]
main = "www.mozilla.net"
sans = [
  "apps.mozillalabs.com",
  "events.mozspaces.org",
  "arewefunyet.com",
  "boot2gecko.org",
  "contributejson.org",
  "detodosparatodos.com"
]

[[acme.domains]]
main = "planet.mozilla.de"

[[acme.domains]]
main = "planet.bugzilla.org"

[[acme.domains]]
main = "experiencethearch.mozilla.org"

[[acme.domains]]
main = "www.experiencethearch.com"
sans = [
  "experiencethearch.com"
]

[[acme.domains]]
main = "apps.mozillalabs.com"

[[acme.domains]]
main = "www.arewestableyet.com"
sans = [
  "arewestableyet.com"
]

[[acme.domains]]
main = "boot2gecko.org"

[[acme.domains]]
main = "contributejson.org"

[[acme.domains]]
main = "extensiontest.com"

[[acme.domains]]
main = "firefoxcup.com"

[[acme.domains]]
main = "firefoxik.ru"

[[acme.domains]]
main = "firefox.lt"

[[acme.domains]]
main = "firefoxparty.com"

[[acme.domains]]
main = "firefoxquantum.com"

[[acme.domains]]
main = "getfirefox.co.uk"

[[acme.domains]]
main = "getfirefox.de"

[[acme.domains]]
main = "getfirefox.net"

[[acme.domains]]
main = "leandatapractices.org"

[[acme.domains]]
main = "lightning-project.org"

[[acme.domains]]
main = "mozilla.at"

[[acme.domains]]
main = "mozilla.ca"

[[acme.domains]]
main = "mozillactf.org"

[[acme.domains]]
main = "mozillaecuador.org"

[[acme.domains]]
main = "mozillafirefox.pl"

[[acme.domains]]
main = "mozillafoundation.com"

[[acme.domains]]
main = "mozilla.frl"

[[acme.domains]]
main = "mozilla.it"

[[acme.domains]]
main = "mozillausa.org"

[[acme.domains]]
main = "popcornjs.org"

[[acme.domains]]
main = "trackingprotection.info"

[[acme.domains]]
main = "webifyme.org"

[[acme.domains]]
main = "arewefunyet.com"
sans = [
  "www.arewefunyet.com"
]

[[acme.domains]]
main = "smartdogz.org"

[[acme.domains]]
main = "snippets-stats.mozilla.org"

{{ else }}

[[acme.domains]]
main = "dynamicua.allizom.org"

[[acme.domains]]
main = "ccadb.allizom.org"

[[acme.domains]]
main = "iot.allizom.org"

[[acme.domains]]
main = "design.allizom.org"

[[acme.domains]]
main = "tlscanary.allizom.org"
sans = [
  "tlscanary-haul.allizom.org"
]

[[acme.domains]]
main = "static.allizom.org"
sans = [
  "static-haul.allizom.org"
]

[[acme.domains]]
main = "website-archive.allizom.org"
sans = [
  "website-archive-haul.allizom.org"
]

[[acme.domains]]
main = "www-archive.allizom.org"
sans = [
  "www-archive-haul.allizom.org"
]

[[acme.domains]]
main = "bugzilla-haul.allizom.org"

[[acme.domains]]
main = "itisatracker-haul.allizom.org"

[[acme.domains]]
main = "planet.allizom.org"
sans = [
  "planet-haul.allizom.org"
]

[[acme.domains]]
main = "planet-bugzilla.allizom.org"

[[acme.domains]]
main = "seamonkey-project-haul.allizom.org"

[[acme.domains]]
main = "start-haul.allizom.org"

[[acme.domains]]
main = "krakenbenchmark.allizom.org"

[[acme.domains]]
main = "redirecttest.allizom.org"
sans = [
  "prs.paas.allizom.org",
]

[[acme.domains]]
main = "planet-de.allizom.org"

[[acme.domains]]
main = "experiencethearch.allizom.org"

[[acme.domains]]
main = "apps.mozillalabs.com.allizom.org"

[[acme.domains]]
main = "arewestableyet.com.allizom.org"

[[acme.domains]]
main = "boot2gecko.org.allizom.org"

[[acme.domains]]
main = "contributejson.org.allizom.org"

[[acme.domains]]
main = "extensiontest.com.allizom.org"

[[acme.domains]]
main = "firefoxcup.com.allizom.org"

[[acme.domains]]
main = "firefoxik.ru.allizom.org"

[[acme.domains]]
main = "firefox.lt.allizom.org"

[[acme.domains]]
main = "firefoxparty.com.allizom.org"

[[acme.domains]]
main = "firefoxquantum.com.allizom.org"

[[acme.domains]]
main = "getfirefox.co.uk.allizom.org"

[[acme.domains]]
main = "getfirefox.de.allizom.org"

[[acme.domains]]
main = "getfirefox.net.allizom.org"

[[acme.domains]]
main = "leandatapractices.org.allizom.org"

[[acme.domains]]
main = "lightning-project.org.allizom.org"

[[acme.domains]]
main = "mozilla.at.allizom.org"

[[acme.domains]]
main = "mozilla.ca.allizom.org"

[[acme.domains]]
main = "mozillactf.org.allizom.org"

[[acme.domains]]
main = "mozillaecuador.org.allizom.org"

[[acme.domains]]
main = "mozillafirefox.pl.allizom.org"

[[acme.domains]]
main = "mozillafoundation.com.allizom.org"

[[acme.domains]]
main = "mozilla.frl.allizom.org"

[[acme.domains]]
main = "mozilla.it.allizom.org"

[[acme.domains]]
main = "mozillausa.org.allizom.org"

[[acme.domains]]
main = "popcornjs.org.allizom.org"

[[acme.domains]]
main = "prs.paas.allizom.org.allizom.org"

[[acme.domains]]
main = "trackingprotection.info.allizom.org"

[[acme.domains]]
main = "webifyme.org.allizom.org"

[[acme.domains]]
main = "arewefunyet.com.allizom.org"
sans = [
  "www.arewefunyet.com.allizom.org"
]

[[acme.domains]]
main = "smartdogz.org.allizom.org"

[[acme.domains]]
main = "snippets-stats.allizom.org"

{{ end }}
